[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["dotenv"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
fastapi-mail = "*"
apscheduler = "*"
numpy = "*"
pandas = "*"
netcdf4 = "*"
xarray = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
